.EEE{
    color: darkgray;
}
.Files_Container h2{
    font-weight: 500;
    padding: 15px;
    font-style: italic;
}

.Files_Container .Head_Files_Card{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.Files_Container .Head_Files_Card .Files_Card{
    padding: 20px;
    background-color: white;
    height: 290px;
    width: 250px;
    border: 1px solid #EEE;
    box-shadow: 0 0 4px;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 20px;
}


.Files_Container .Head_Files_Card .Files_Card .icon{
    display: flex;
}
.Files_Container .Head_Files_Card .Files_Card .image img{
    width: 100px;
}

.Files_Container .Head_Files_Card .Files_Card .Details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*Responsive*/

@media (max-width: 767px) {
    .Files_Container .Head_Files_Card{
        display: inline-block;
        padding-left: 100px;
    }


}




